{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% block content%}
<div class="container">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Armata|Questrial&display=swap" rel="stylesheet">

    <h3><u><strong>GENERAL NEWS</strong></u></h3><br>
    {{macro.displaySourceList(general)}}

    <h3><u><strong>BUSINESS NEWS</strong></u></h3><br>
    {{macro.displaySourceList(business)}}

    <h3><u><strong>TECHNOLOGY NEWS</strong></u></h3><br>
    {{macro.displaySourceList(technology)}}

    <h3><u><strong>SPORT NEWS</strong></u></h3><br>
    {{macro.displaySourceList(sports)}}

    <h3><u><strong>ENTERTAINMENT NEWS</strong></u></h3><br>
    {{macro.displaySourceList(entertainment)}}
</div>
{%endblock%}