{% macro displaySourceList(source_list) %}
<div class="container">
  <div class="row">
    {% for source in source_list %}
    <div class="col-md-4" style="padding-bottom:5%; height:50%; width:50%;">
      <h4 style="font-family: 'Permanent Marker', cursive; font-size: 180%;">{{source.name}}</h4>
      <hr>
      <p style="font-size: 20px; font-family: 'Questrial', sans-serif;font-family: 'Armata', sans-serif;">
        {{source.description}}</p>
      <a href="/source/{{source.id}}" class="btn btn-primary" target="_blank">{{source.name}}</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro displayArticlesList(articles_list) %}
<div class="container">
  <div class="row">
    <h1><u>Top News Articles</u></h1><br>
    {% for article in articles_list %}
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-bottom: 10%;">
      <img class="img-responsive" src="{{article.image}}" alt="image">
      <h4>{{article.title}}</h4>
      <p class="font-family: 'Questrial', sans-serif;font-family: 'Armata', sans-serif;">{{article.description}}</p>
      <a href="{{article.url}}" class="btn btn-primary">Read more</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}